body{


	/*font-family: 'Quattrocento Sans', sans-serif;*/
	font-family: 'Inconsolata',sans-serif ;
	/*font-family: 'Source Code Pro', sans-serif ;*/
	/*font-family: 'Droid Sans Mono', sans-serif;*/
	font-weight: 300;
	/*background-color: #252525;*/
	background-color: #0e0e0e;
	color: #f8f8f8;


}


#box {
		background-color: #0e0e0e;
    background-image: url("/../img/lowres.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position:center;
		position:absolute;
		width: 100%;
		height: 100%;
		opacity: 1;
		z-index: 1;


  }


.post {

	padding-bottom:20px;
}

.main {

width:300px;
height:300px;


}


.written {
width:300px;
height:300px;
display: inline-block;
vertical-align: top;
background-color:#989898;
padding-top:140px;
text-align: center;

	}

.written:hover {

	background-color: #0e0e0e;
}

a {

text-decoration: none;
	color: #0e0e0e;
	font-size: 1.5em;
	font-weight: 300;


}

.main:hover{

	background-color: #0e0e0e;

}

a:hover {

	color: #989898;

}

.stories, .storiesTranscript, .posts, .postswhite, .imagePage, .dnaPost {

	font-size: 1.3em;

}

.stories {
	padding:5%;
	color: #0e0e0e;
	background-color: #f8f8f8;
	text-indent: 50px;
	z-index: -1;

}
.stories::first-letter {

	font-size: 200%;

}

.storiesTranscript {
	padding:5%;
	color: #0e0e0e;
	background-color: #f8f8f8;

}

.posts {

color: #f8f8f8;
text-align:center;
padding-top: 100px;
z-index: -1;
position:relative;

}

.dnaPost {

	margin-top: 25%;
	color: #f8f8f8;
}

.imagePage {


	padding-top:50px;
	color: #f8f8f8;

}

.telespread {

	width: 100%;
}

.postswhite {

	padding: 10%;
	padding-bottom:100%;
	background: #f8f8f8;
	width: 100%;
	color: #0e0e0e;
	text-align:center;
	z-index: -1;
}

li {

	list-style-type: none;
}

.stellamental  {

	background: #fff;
	font-family: "Tahoma", sans-serif;
	padding: 2%;
	color: #000;
	z-index: -1;

}

.stellamental ul {

    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
		font-size: .7em;
}

.stellamental a {
    float: left;
		text-decoration: none;
    color: white;
    background-color: teal;
    padding: 0.2em 0.6em;

}

.stellamental a:hover {
    background-color: fuchsia;
}

.stellamental li {
    display: inline;
}


    #owl-demo .owl-item div{
      padding:5px;
    }
    #owl-demo .owl-item img{
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

#leftArrow, #rightArrow, #home {

	opacity: .9;
}

#leftArrow {
	width: 0;
	height: 0;
	float: left;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right:20px solid gray;
	margin-top: 40%;
	margin-left: 2%;
	position:absolute;
	z-index: 15;

}

#rightArrow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid gray;
	margin-top: 40%;
	margin-left: 96%;
	position:absolute ;
	z-index: 15;
	float: right;

}



.phone {

	display: none;
}

#home {

	margin-top: 10%;
	margin-left: 42.5%;
	margin-right:42.5%;
	z-index: 15;
	opacity: 1;
}

#home:hover{

	opacity:.5;
}

/*footer {

width: 100%;
margin-top: 100%;
margin-bottom: 0%;


}*/


/*--------------DNA-----------------*/

#buttonFlash {

border: none;
padding: 10px;
color: white;

animation-name: buttonFlash;
animation-duration:1s;
animation-iteration-count: infinite;
animation-timing-function: ease;


-webkit-animation-name: buttonFlash;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count: infinite;
-wekbit-animation-timing-function: ease;


}

@keyframes buttonFlash {

	from {background-color: red;}


	to {background-color: blue;}
}

@-webkit-keyframes buttonFlash {

	from {background-color: red;}

	to {background-color: blue;}
}

.titles {


}

#sequence {


}

#firstStrandAnimate {

animation-name: strandAlone;
animation-duration: 4s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease;

-webkit-animation-name: strandAlone;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: 1;
-webkit-animation-fill-mode: forwards;
-wekbit-animation-timing-function: ease;

/*shorthand: animation: FlipNotesLogoSlideIn 5s ease 0 normal;
The animation CSS property is a shorthand property for animation-name,
animation-duration, animation-timing-function, animation-delay,
animation-iteration-count, animation-direction,
animation-fill-mode and animation-play-state.*/

}

@keyframes strandAlone {
 	from {font-size:1.3em;}
    to {font-size:2em;}
}

@-webkit-keyframes strandAlone {
		from {font-size:1.3em;}
    to {font-size:2em;}
}

#numbers {

display: none;


}

#secondStrandFade {

animation-name: strandFade;
animation-duration: 4s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
/*transition-timing-function: ease-out;*/

-webkit-animation-name: strandFade;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: 1;
-webkit-animation-fill-mode: forwards;
/*-webkit-transition-timing-function: ease-out;*/

}

@keyframes strandFade {
 	from {opacity:1;}
    to {opacity:0;}
}

@-webkit-keyframes strandFade {
	from {opacity:1;}
    to {opacity:0;}
}

/*------------AUDIO------------*/

#player {

height:1000px;
margin-top:100px;

}

#play {


	display:inline-block;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid blue;
	border-bottom: 25px solid transparent;

}

#pause {

	border-left-style: solid;
	border-right-style: solid;
	border-left-color: red;
	border-right-color: red;
	border-width: 10px;
	width:30px;
	height:50px;
	display:inline-block;
}

#time {

	width: 20px;
	height: 20px;
	background: gray;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;

}






/*-----------------------------------*/
@media only screen and (max-width : 640px) {

	.main, .written {

		width:100%;
	}

	.main {

		height:100%;
	}

	.stories, .storiesTranscript, .posts, .postswhite, .imagePage  {

		font-size: 1em;

	}

	.imagePage {

		margin: 2%;
	}

	#rightArrowMobile{
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid gray;
		margin-left: 80%;

		z-index: 15;
		float: right;
	}

	#leftArrowMobile {

		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-right:25px solid gray;
		float: left;
		margin-left: 20%;

		z-index: 15;


	}

	#mobileHome {


			margin-left:30%;
			margin-right:30%;

		float: center;
	}

	.screen {

		display: none;
	}

.phone {

	display: inline-block;

}
	#home {

		display: none;
	}


}
