---
layout: default
---
<div class="container">
	<div class="grid-full float-center">
<div class="box">
</div>

{% for post in paginator.posts reversed %}

				 <a href="{{ post.url }}"><span class="written">{{post.title}}</span><img src="{{ post.image }}"></a>
{% endfor %}

	<!-- <a href="{% post_url 2015-03-02-ameliai %}"><div class="written">Amelia Part I</div></a>
<a href="{% post_url 2015-03-01-telespread %}"><div class="written">Telestellar Booklet</div></a>
<a href="#"><img src="/img/square.jpg"class="main"></a>
<a href="{% post_url 2015-03-01-mertaaudio %}"><div class="written">Merta and 7671081</div></a>
		<a href="#"><img src="/img/square.jpg" class="main"></a>
<a href="{% post_url 2015-03-02-johni %}"><div class="written">John</div></a>
		<a href="#"><img src="/img/square.jpg"class="main"></a>
		<a href="{% post_url 2015-03-02-karlini %}"><div class="written">Karlin Part I</div></a>
	<a href="{% post_url 2015-03-02-marki %}"><div class="written">Mark Part I</div></a>
		<a href="#"><img src="/img/square.jpg" class="main"></a>
		<a href="{% post_url 2015-03-02-lizai %}"><div class="written">Liza</div></a>
		<a href="#"><img src="/img/square.jpg"class="main"></a>
		<a href="#"><img src="/img/square.jpg" class="main"></a>
<a href="{% post_url 2015-03-01-leni %}"><div class="written">Len Part I</div></a>
		<a href="#"><img src="/img/square.jpg"class="main"></a>
		<a href="{% post_url 2015-03-02-duggertytranscript %}"><div class="written">Duggerty Trial 13/50</div></a> -->
</div>
</div>


<!-- {% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	{% endfor %} -->



<script>
window.onload = function(){
$("div.box").delay(1000).fadeOut(1000);
}
</script>
