body{


	/*font-family: 'Quattrocento Sans', sans-serif;*/
	font-family: 'Inconsolata',sans-serif ;
	/*font-family: 'Source Code Pro', sans-serif ;*/
	/*font-family: 'Droid Sans Mono', sans-serif;*/
	font-weight: 300;
	/*background-color: #252525;*/
	background-color: #0e0e0e;
	color: #f8f8f8;


}


#box {
		background-color: #000;
    background-image: url("/../img/lowres.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 2000px;
		opacity: .9;
		z-index: 1;
  }


.post {

	padding-bottom:20px;
}

.main {

width:300px;
height:300px;


}


.written {
width:300px;
height:300px;
display: inline-block;
vertical-align: top;
background-color:#989898;
padding-top:140px;
text-align: center;

	}

.written:hover {

	background-color: #0e0e0e;
}

a {

text-decoration: none;
	color: #0e0e0e;
	font-size: 1.5em;
	font-weight: 300;


}

.main:hover{

	background-color: #0e0e0e;

}

a:hover {

	color: #989898;

}

.stories, .storiesTranscript, .posts, .postswhite, .imagePage {

	font-size: 1.3em;

}

.stories {
	padding:5%;
	color: #0e0e0e;
	background-color: #f8f8f8;
	text-indent: 50px;
	z-index: -1;

}
.stories::first-letter {

	font-size: 200%;

}

.storiesTranscript {
	padding:5%;
	color: #0e0e0e;
	background-color: #f8f8f8;

}

.posts {

color: #f8f8f8;
text-align:center;
margin-top: 25%;
z-index: -1;

}

.imagePage {

	margin: 5%;
	color: #f8f8f8;

}

.telespread {

	width: 100%;
}

.postswhite {

	padding: 10%;
	padding-bottom:100%;
	background: #f8f8f8;
	width: 100%;
	color: #0e0e0e;
	text-align:center;
	z-index: -1;
}

li {

	list-style-type: none;
}

.stellamental  {

	background: #fff;
	font-family: "Tahoma", sans-serif;
	padding: 2%;
	color: #000;
	z-index: -1;

}

.stellamental ul {

    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
		font-size: .7em;
}

.stellamental a {
    float: left;
		text-decoration: none;
    color: white;
    background-color: teal;
    padding: 0.2em 0.6em;

}

.stellamental a:hover {
    background-color: fuchsia;
}

.stellamental li {
    display: inline;
}


    #owl-demo .owl-item div{
      padding:5px;
    }
    #owl-demo .owl-item img{
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

#leftArrow, #rightArrow, #home {

	opacity: .9;
}

#leftArrow {
	width: 0;
	height: 0;
	float: left;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right:20px solid gray;
	margin-top: 40%;
	margin-left: 2%;
	position:absolute;
	z-index: 15;

}

#rightArrow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid gray;
	margin-top: 40%;
	margin-left: 96%;
	position:absolute ;
	z-index: 15;
	float: right;

}

#home {

	margin-top: 50px;
	vertical-align: bottom;
	margin-bottom: 0%;
	margin-left: 43%;
	margin-right: auto;
	z-index: 15;
	opacity: 1;
}

#home:hover{

	opacity:.5;
}

/*footer {

width: 100%;
margin-top: 100%;
margin-bottom: 0%;


}*/

@media only screen and (max-width : 640px) {

	.main, .written {

		width:100%;
	}

	.main {

		height:100%;
	}

	.stories, .storiesTranscript, .posts, .postswhite, .imagePage  {

		font-size: 1em;

	}

	.imagePage {

		margin: 2%;
	}

	#rightArrow{
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid gray;
	}

	#leftArrow {

		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid gray;

	}

	#home {

		width:100px;
		margin-left: 42%;
		margin-bottom: 2%;
	}


}
