
<!-- Scripts -->
    <!-- Hosted jquery library -->

    <!-- {% for post in paginator.posts %}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    	{% endfor %}

    	<script>
    	function leftArrowPressed() {
    		window.location.href = '{{ paginator.previous_page_path }}'
    	}

    	function rightArrowPressed() {
    		window.location.href = '{{ paginator.next_page_path }}';
    	}

    	document.onkeydown = function(evt) {
    			evt = evt || window.event;
    			switch (evt.keyCode) {
    					case 37:
    							leftArrowPressed();
    							break;
    					case 39:
    							rightArrowPressed();
    							break;
    			}
    	};

    	</script> -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="/js/kraken.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- (Via HTML5 Boilerplate: http://html5boilerplate.com/) -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>


    <script src="js/main.js"></script>
</body>

</html>
