{% include header.html %}


<div class="screen">
<a href="{{ page.previous.url }}"><span id="leftArrow"></span></a>
<a href="{{ page.next.url }}"><span id ="rightArrow"></span></a>
</div>

<!-- <span id = "leftArrow"></span>
  <span id = "rightArrow"></span> -->


{{ content }}


<div id="mainScreen">
<a href="/../index.html"><img src="/../img/home.png" id="home"></a>
</div>



<div class="phone">


  <div><a href="/../index.html"><img src="/../img/home.png" id="mobileHome"></a></div>


  <div><a href="{{ page.previous.url }}" id="leftArrowMobile"></a></div>



  <div><a href="{{ page.next.url }}" id="rightArrowMobile"></a></div>





</div>

<script>
function leftArrowPressed() {
  window.location.href = '{{ page.previous.url }}';

  if ('{{ page.previous.url }}' == '{% post_url 2015-01-02-blank %}')
  {

    window.location.href = '{% post_url 2015-03-21-markii %}';
  }
}


function rightArrowPressed() {
  window.location.href = '{{ page.next.url }}';

  if ('{{ page.next.url }}' == '{{site.url/markii.html}}') {

    window.location.href = '{% post_url 2015-01-02-lizai %}';
  }
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};

//mobile swipe

jQuery('body').on('swiperight', '.wholePage', function(event, ui){

  console.log("f")
    // jQuery.mobile.changePage( '{{ page.previous.url }}', true, true, true, true );
});

jQuery('body').on('swipeleft', '.wholePage', function(event, ui){
    jQuery.mobile.changePage( '{{ page.next.url }}', true, true, true, true );
});
//end

$("#leftArrow, #rightArrow").fadeOut(1000);
var i = null;
$("body").mousemove(function() {

  clearTimeout(i);
  $("#leftArrow, #rightArrow").fadeIn(1000);
  i = setTimeout('$("#leftArrow, #rightArrow").fadeOut(1000)' , 2000);

}).mouseleave(function() {

  clearTimeout(i);
  $("#leftArrow, #rightArrow").fadeOut(1000);
});

</script>

{% include footer.html %}
