{% include header.html %}



<a href="{{ page.previous.url }}"><span id="leftArrow"></span></a>
<a href="{{ page.next.url }}"><span id ="rightArrow"></span></a>

<!-- <span id = "leftArrow"></span>
  <span id = "rightArrow"></span> -->

<div class="wholePage">

{{ content }}

</div>


<a href="../index.html"><img id="home" src="/../img/home.png"></a>
<script>
function leftArrowPressed() {
  window.location.href = '{{ page.previous.url }}';
}

function rightArrowPressed() {
  window.location.href = '{{ page.next.url }}';
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};

//mobile swipe

jQuery('body').on('swiperight', '.wholePage', function(event, ui){

  console.log("f")
    // jQuery.mobile.changePage( '{{ page.previous.url }}', true, true, true, true );
});

jQuery('body').on('swipeleft', '.wholePage', function(event, ui){
    jQuery.mobile.changePage( '{{ page.next.url }}', true, true, true, true );
});
//end

$("#leftArrow, #rightArrow").fadeOut(1000);
var i = null;
$("body").mousemove(function() {

  clearTimeout(i);
  $("#leftArrow, #rightArrow").fadeIn(1000);
  i = setTimeout('$("#leftArrow, #rightArrow").fadeOut(1000)' , 2000);

}).mouseleave(function() {

  clearTimeout(i);
  $("#leftArrow, #rightArrow").fadeOut(1000);
});

</script>

{% include footer.html %}
